<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Shelly Package Manager</vendor>
  <vendor_url>https://github.com/ZoeyErinBauer/Shelly-ALPM</vendor_url>

  <action id="org.shelly.package-manager.read">
    <description>Read package information</description>
    <message>Authentication is required to read package information</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.shelly.package-manager.sync">
    <description>Sync package databases</description>
    <message>Authentication is required to sync package databases</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.shelly.package-manager.install">
    <description>Install packages</description>
    <message>Authentication is required to install software</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.shelly.package-manager.remove">
    <description>Remove packages</description>
    <message>Authentication is required to remove software</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.shelly.package-manager.update">
    <description>Update packages</description>
    <message>Authentication is required to update software</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.shelly.package-manager.system-update">
    <description>Perform system update</description>
    <message>Authentication is required to perform a system update</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>
